body {
	background-color:#FFFFFF; font-family:"Comic Sans MS", Georgia; font-size:16px; font-style:normal;
}

#header {background-color:#000010; background-image:url(../img_prelucrate/Night_Sky_by_Endromeda2resized.png); background-repeat:no-repeat; background-position:center; width:inherit; height:40px; text-align:right; font-style:italic; font-size:16px; padding-top:130px; padding-right:40px; color:#FFFFFF;
}

#box {width:inherit; height:800px;
}

#leftbox {background:-webkit-gradient(linear, left top, right top, from(rgba(0,0,51,1)), to(rgba(0,0,51,.4))); width:250px; height:800px; background-position:left; position:relative; left:0px; margin:0px; padding:0px; float:left; vertical-align:bottom; font-size:24px; font-style:italic; color:#FFFFFF; text-align:center;
}

#leftboxdown {width:250px; height:100px; background-image:url(../img_prelucrate/hsleftbox.jpg); background-position:center; background-repeat:no-repeat; position:absolute; top:700px; z-index:1;
}


#centerbox {width:1300px; height:800px; float:right; position:relative;
}

#centerbox1 {width:1260px; height:80px; position:absolute; margin-bottom:0px; z-index:1; text-align:center; font-style:italic; line-height:80px; padding-right:10px;
}

#main_nav { list-style: none; margin: 0; padding: 0; color:#400000; }
#main_nav li { float:right; }
#main_nav li a { text-indent: -999999px; overflow: hidden; display:inline; height: 63px; }

a.despre:link, a.produse:link, a.parteneri:link, a.contact:link   {
	display:block; 
	float:left; 
	background-repeat:no-repeat; 
	width:195px; 
	height:63px;
}

a.despre:link {
	background-image:url('../img_prelucrate//btndespre.png');
}
a.parteneri:link {
	background-image:url('../img_prelucrate//parteneri.png');
}
a.produse:link {
	background-image:url('../img_prelucrate//produse.png');
}
a.contact:link {
	background-image:url('../img_prelucrate/contact.png');
}


a.despre:hover, a.produse:hover, a.parteneri:hover, a.contact:hover  {background-position: 0 -126px;
}
a.despre:active, a.produse:active, a.parteneri:active, a.contact:active  {background-position: 0 -63px;
}


#centerbox2 {width:765px; height:40px; position:absolute; margin-bottom:0; z-index:2; top:80px;
}

#rightbox { width:550px; height:800px; background-image:url(../img_prelucrate/chic%20mic.png); background-position:center; background-repeat:no-repeat;
}

box-sizing: border-box

div {
	display:block;
}

img {
 	display: block
}

div.wrapper {
	display:inline-block; width:723px; height:560px; position:absolute; top:120px; margin:0; padding:0; z-index:3;
}

li.threecol {width:723px; height:80px; background-image:url(../img_prelucrate/lam1.jpg); background-repeat:no-repeat; font-style:inherit; list-style-type:none; font-weight:800px;
}



div.a { 
	display:inline-block; width:241px; height:72px; padding-top:8px; color:#400000; text-align:center; float:left;
}

div.b { 
	display:inline-block; width:241px; height:72px; padding-top:8px; color:#FFFFFF; text-align:center; float:left;
}

div.c { 
	display:inline-block; width:241px; height:72px; padding-top:8px; color:#003366; text-align:center; float:left;
}